@font-face {
    font-family: RioGrande;
    src: url("fonts/RioGrande Striped.ttf");
}

@font-face {
    font-family: RioGrande;
    src: url("fonts/RioGrande Striped.ttf");
    font-weight: bold;
}

canvas {
    background-color: black;
    margin-bottom: 50px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: RioGrande;
    background-image: url("./assets/img/10_page_background/background.png");
    background-size: cover;
}

.content {
    width: 100%;
    max-width: 1920px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    background-color: rgb(136, 16, 22);
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.controls {
    background-color: rgb(136, 16, 22);
    color: white;
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    border-radius: 10px;
}

.keyboard {
    display: flex;
    justify-content: space-between;
}

.gameover-screen {
    background-image: url("./assets/img/9_intro_outro_screens/game_over/oh no you lost!.png");
}

.win-screen {
    background-image: url("./assets/img/You won, you lost/You Win A.png");
}

.start-screen {
    background-image: url("assets/img/9_intro_outro_screens/start/startscreen_1.png");
}

.screen {
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 1000;
    width: 720px;
    height: 480px;
    top: 100px;
    background-color: rgb(165, 33, 33);
    background-size: cover;
    background-position: right;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

button {
    position: absolute;
    bottom: 50px;
    left: 250px;
    font-family: RioGrande;
    background-color: rgb(231, 177, 27);
    font-size: 36px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(32, 23, 12, 0.2);
}

button:hover {
    cursor: pointer;
    background-color: rgb(255, 194, 25);
}
